.container__cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

}

.title-sobre{
    width:120px ;
    
    
}

.linha{
    size: 7px;
}

.sobre-h1{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 25px 0px;
}

.text-style{
    font-size: 30px;
    padding: 30px;
}


@media only screen and (min-width: 600px) {

}