.container_gifs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
}

.footer_gif{
    height: 75px ;
    background-color: #6C63FF;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link_footer{
    color: wheat;
    cursor: pointer;
}


.footer_gif > p{
    margin: 0px;
}
