.input-box{
    width: 250px;
    margin-bottom: 50px;
}

@media only screen and (min-width: 768px){
    .input-box{
        width: 300px;
        margin-right: 60px;
        margin-bottom: 15px;

    }

    .btn-lupa{
        margin-right:65px;
    }
}